
.banner_img {
    width:100%;
    height: 8rem;
    object-fit: cover;
    grid-area: 1/span 3;
}
.subreddit_banner {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: rgb(36, 33, 33);
}
.banner-wrapper {
    display: flex;
    flex-direction: column;       
}
.subreddit_banner > li{
    border-top: none;
    grid-area: 1/2;
}