.article_container {
  padding: 1rem 0;
  max-width: 40rem;
  list-style: none; 
  gap:2rem;
  border:thin solid rgb(133, 120, 120);
  background-color: rgb(36, 33, 33);
  border-radius: .5rem;
}
.post_title ,.content_link {
  padding-left: 1rem;
}
.article_box,.article_buttom,.article_top {
  width: 100%;
}
.article_buttom,.article_top,.comments_box {
  display:inline-flex;
}
.article_center, .content_text {
  max-height: 30rem;
  padding-bottom: .8rem;
  display:flex;
  justify-content: center;
}
.comment-active {
  padding-bottom: .8rem;
}
.article_buttom {
  justify-content: space-between;
}
.comments_box {
  justify-content: end;
  padding-right: 1rem;
  font-weight: bold;
  align-items: center;
  gap:.2rem;
}
.post_title {
  margin: 0 .1rem .8rem .1rem;
  color: rgb(227,216,202);
  font-size: 1rem;
}
.content_img,.content_video {
  max-width: 100%;
  object-fit: scale-down;
}
.content_link {
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: .8rem;
  color:rgb(5, 141, 66);
  text-align: start;
}
.content_link:hover {
  text-decoration: underline;
}
.content_paragraph {
  display: -webkit-box;
  text-overflow: ellipsis;
  max-height: 25rem;
}
#text_container,.comment-post > p {
  justify-content: flex-start;
}
.comment-post > p {
  display: flex;
  flex-direction: column;
}
.content_paragraph ,.comment-post {
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 0 1rem;
}
.content_paragraph * > a , .comment-post * > a {
  color:rgb(5, 141, 66);
  font-size: .8rem;
}
.content_paragraph *, .comment-post *{
  color: rgb(227,216,202);
  font-size: .9rem;
}
.youtube_content {
  width: 100%;
  border: 0;
}
.toComments {
  text-decoration: none;
}
.youtube_content:hover,.content_video:hover {
  cursor:auto
}
.commentIcon {
  fill:rgb(227,216,202);
}
.comments_box{
  cursor: pointer;
}
