body {
  font-size: 18px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(227,216,202);
}
button:hover {
  cursor: pointer;
}
p {
  font-size: .75rem;
  color: rgb(133, 120, 120);
}
h4,h5 {
  color: rgb(227,216,202);
}
.main-container {
  flex-basis: 40rem;
  justify-content: flex-start;
  flex-direction: column;
}
.side-container {
  justify-content: flex-end;
  flex-direction: column-reverse;
}
.main-container, .side-container,.mainpage-wrapper  {
  display: flex;
}
.mainpage-wrapper {   
  justify-content: center;
  width: 100%;
}
span {
  color:rgb(36, 33, 33);
  font-weight: bold;
  font-size: .7rem;
}